@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-color: #181719;
  --font-primary-color: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Lora", sans-serif, serif;
  font-weight: 400;
}

body{
    background-color: var(--background-color);
    color: var(--font-primary-color);
}

.container {
  padding: 10px 40px;
}

.hidden {
  display: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

@media only screen and (min-width: 200px) and (max-width: 576px) {
 
  .container {
    padding: 10px 40px;
  }
}
