
/* Navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}


.logo{
    border: 1px solid var(--font-primary-color);
    padding: 10px;
    
}
.logo h1{
    font-family: 'Lora';
    text-transform: uppercase;
}
.nav-options{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-options a{
    cursor: pointer;
}
.nav-link.active {
    border-bottom: 2px solid var(--font-primary-color);
    padding: 5px;
    font-weight: 700;
}

.menu-icon img {
    width: 25px;
    height: 26px;
    cursor: pointer;
  }
  .menu-icon{
    display: none;
  }

  /* Banner section design */
  .banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;
    
  }
  .banner-img img {
    width: 800px;
    height: 500px;
  }
  .banner-content img {
    width: 24px;
    height: 24px;
  }
  .banner-content h1 {
    font-size: 48px;
    font-family: 'Lora';
    font-weight: 500;
    margin-bottom: 40px;
  }
  .banner-content p {
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 30px;
  }
  .banner-content span {
    font-size: 18px;
    font-weight: 700;
  }
  .more{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  @media only screen and (min-width: 200px) and (max-width: 576px){
    
/* Navbar style */
.navigation {
    display: none;
  }

  .menu-icon{
    display: inline-block;
  }
  .navigation.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: var(--background-color);
    width: 100%;
    gap: 20px;
    
  }
  .nav-options{
   flex-direction: column;
    align-items: center;
    gap: 40px;
}

  /* Banner section design */
  .banner-section{
    flex-direction: column;
    
  }
  .banner-img img {
    width: 100%;
    height: 280px;
    margin-top: 40px;
  }
  }